{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- HERO -->
<div class="hero" id="card_icon" style="border-color: #393E46;border-style: dotted">
    <a href="{% url 'home:home' %}">
    <img href="{% url 'home:home' %}" src="{% static 'assets/images/icon.png' %}" alt="FoodLand">
    <h5>FoodLand 🍔</h5>
    </a>
</div>

<section class="hero">
    <br>
    <h1>🍔🍕🥤به فودلند خوش آمدید </h1>
    <p>لذت واقعی غذاهای خوشمزه با کیفیت بالا. سفارش آنلاین، رزرو میز و تجربه‌ای متفاوت از رستوران‌گردی را با فودلند تجربه کنید.</p>
</section>

<!-- FOOD CARDS -->
<section class="container my-5">
       <div class="row g-4">
    {% for product in products %}
        <div class="col-md-4">
            <a href="{{ product.get_absolute_url }}">
            <div class="food-card" >
            {% if product.image %}
                <img   {% if product.productid == 1 %} style="transform: rotate(15deg);" {% endif %} src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}
                <div class="food-card-body">
                    <h5>{{ product.name }}</h5>
                    <h6 style="text-align: center;color:  var(--text-light)">{{ product.description }}</h6>
                    <div class="price">{{ product.price }} تومان</div>
                </div>

            </div>
            </a>
        </div>
    {% endfor %}
</div>

</section>
    <div class="text-center text ">
    <span>جدید ترین غذا مجموعه فودلند</span>
    {% for recent in recent %}
        <br>
    <span>نام:{{ recent.name }}</span>
    {% endfor %}
    </div>

<!-- RESERVATION BUTTON -->
<section class="container text-center my-5">
  <a href="{% url 'reservation:reserv' %}" class="btn fw-bold"
     style="background: var(--bg-secondary); color: var(--text-light); font-size: 1.2rem; border-radius: 15px; padding: 12px 30px; transition: 0.3s;">
     رزرو میز 🍽️
  </a>
</section>

{% endblock %}










